{
  "name": "{{{scope}}}/{{{name}}}",
  "description": "ReScript bindings for {{{name}}}",
  "version": "0.0.0",
  "license": "MIT",
  "author": "Greenlabs Dev <developer@greenlabs.co.kr>",
  "scripts": {
    "start": "rescript build -w",
    "build": "rescript build -with-deps"
  },
  "keywords": [
    "ReScript",
    "{{{name}}}"
  ],
  "publishConfig": {
    "access": "public"
  },
  "bugs": "https://github.com/green-labs/rescript-bindings/issues",
  "repository": {
    "type": "git",
    "url": "https://github.com/green-labs/rescript-bindings.git",
    "directory": "packages/{{{name}}}"
  },
  "devDependencies": {},
  "peerDependencies": {}
}
